.login-wrap {
    display: flex;
    padding: 15px;
    flex-grow: 1;
}

.login {
    min-width: 280px;
    margin: auto;
    padding: 15px;
    border: 1px solid var(--my-white);
}

.login__title {
    margin-bottom: 15px;
}

.login__btn {
    width: 100%;
}