<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="main" id="app">
        <div class="container pt-3 pb-3">
            <div class="input-group mb-3">
                <input 
                    type="text" 
                    :class="nameError ? 'form-control border-danger' : 'form-control'" 
                    placeholder="title"
                    v-model="name"
                >
            </div>
            <div class="input-group mb-3">
                <input 
                    type="text" 
                    :class="descriptionError ? 'form-control border-danger' : 'form-control'" 
                    placeholder="description"
                    v-model="description"
                >
            </div>
            <button 
                class="btn btn-outline-success mb-3"
                @click="addCard">
                Add card
            </button>
            <p v-if="cards.length === 0" class="font-weight-light text-danger">Добавьте свою первую карточку 😜</p>
            <p v-else="cards.length === 0" class="font-weight-light text-success">Тут полно карточек &#128525;</p>
            <div class="wrap">
                <div 
                    v-for="(card, index) in cards" 
                    class="card mb-3" 
                    style="width: 18rem;"
                    >
                    <img class="card-img-top" :src="card.img" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{card.title}}</h5>
                        <p class="card-text">{{card.description}}</p>
                        <button 
                            class="btn btn-outline-danger"
                            @click="removeCard(index)">
                            Deleted card
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="card">
            <p :style="{color: inputValue.length < 5 ? 'red' : 'green'}">{{title}}</p>
            <div class="card__body">
                <div class="input-group mb-3">
                    <input 
                        type="text" 
                        class="form-control" 
                        :placeholder="placeholder"
                        v-model="inputValue"
                        @keypress.enter="addNewNout"
                    >
                </div>
                <h4>inputValue: {{inputValue}}</h4>
                <button class="btn" @click="addNewNout">Добавить</button>
                <hr>
                <ul class="list-group" v-if="notes.length !== 0">
                    <li 
                        class="list-group-item" 
                        v-for="(note, index) in notes"
                        >
                        <span :class="note.length > 5 ? 'primary' : 'bold'">({{index + 1}}). {{toUpperCase(note)}}</span>
                        <button 
                            class="btn ml-3" 
                            @click="removeNout(index)"
                            >
                            Удалить
                        </button>
                    </li>
                    <strong>Общее количество заметок {{notes.length}} | Удвоенное: {{doubleCountComputed}}</strong>
                </ul>
                <div v-else>Добавьте заметку</div>
            </div>
        </div> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="App.js"></script>
</body>
</html>