
:root {
    // color
    --blue: #0d6efd;
    --dark-blue: #6383a8;
    --dark: #212529;
    --white: #fff;
    --gray: #f1f1f1;
    --red: #ff0000;
    --gray-border: rgba(0, 0, 0, .13);

    // border-radius
    --base-radius: 5px;

    // default border
    --default-border: 1px solid rgb(0 0 0 / 15%);
}
